/* Yleiset tyylit */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  /* Navigaation tyyli */
  nav {
    background-color: #333;
    padding: 1em;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
  }
  
  nav ul li a:hover {
    background-color: #575757;
  }
  
  /* Otsikot ja sisältö */
  h1, h2, h3 {
    color: #333;
  }
  
  p {
    color: #666;
    margin-bottom: 1.5em;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Footer-tyyli */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  /* Responsiivinen navigaatio pienille laitteille */
@media (max-width: 768px) {
  nav ul {
      flex-direction: column; /* Muuttaa navigoinnin pystysuuntaiseksi */
  }

  nav ul li {
      width: 100%; /* Asettaa linkit täyteen leveyteen pienemmillä näytöillä */
  }

  header h1 {
      font-size: 24px; /* Pienempi fonttikoko pienillä näytöillä */
  }

  #vastaus {
      padding: 10px;
  }
}

/* Responsiivisuus tableteille */
@media (max-width: 1024px) {
  header h1 {
      font-size: 28px;
  }

  #vastaus {
      padding: 15px;
  }
}
  